<div class="input-group mt-3">
    <input
        type="password"
        class="form-control"
        [disabled]="disabled"
        placeholder="Enter your password"
        [(ngModel)]="password"
        name="password"
    >
    <div class="input-group-append">
        <button
            type="submit"
            class="btn"
            [ngClass]="buttonClass"
            [disabled]="disabled"
            (click)="submitPassword()"
        >
            {{buttonText}}
        </button>
    </div>
</div>