@import "~bootstrap/dist/css/bootstrap.css";

.dark-wnubg{
    background-color: #042449;
    border-color:  #042449;
}
.light-wnubg{
    background-color: #057c95;
    border-color:  #057c95;
}
.dark-wnucolor{
    color: #042449;
}
.light-wnucolor{
    color: #057c95;    
}