@import "~bootstrap/dist/css/bootstrap.css";

.dark-wnubg{
    background-color: #042449;
    border-color:  #042449;
}
.light-wnubg{
    background-color: #057c95;
    border-color:  #057c95;
}
.light-wnutext{
    color: #057c95;
}
.dark-wnutext{
    color: #042449;
}
.dark-wnucolor{
    color: #042449;
    border-color: #042449;
}
.light-wnucolor{
    color: #057c95;
    border-color: #057c95;
}
.ng-valid[required], .ng-valid.required  {
border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form).ng-dirty  {
border-left: 5px solid #a94442; /* red */
}

.wnu-tooltip  {
    position: relative;
}

.wnu-tooltip .wnu-tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
}

.wnu-tooltip .wnu-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.wnu-tooltip:hover .wnu-tooltiptext {
    visibility: visible;
    opacity: 1;
}