@import "~bootstrap/dist/css/bootstrap.css";

.dark-wnubg{
    background-color: #042449;
    border-color:  #042449;
}
.light-wnubg{
    background-color: #057c95;
    border-color:  #057c95;
}
a:not(.active)>span.tabTitle{
    color:#057c95;
}
.light-wnutext{
    color: #057c95;
}
.dark-wnutext{
    color: #042449;
}
.dark-wnucolor{
    color: #042449;
    border-color: #042449;
}
.light-wnucolor{
    color: #057c95;
    border-color: #057c95;
}
.btn-lightwnu{
    color: #fff;
    border-color:  #057c95;
    background-color: #057c95;    
}
.btn-lightwnu:hover:not([disabled]), .btn-lightwnu:focus:not([disabled]){
    border-color: #005e71;
    background-color: #005e71;
}
.btn-darkwnu{
    color: #fff;
    border-color:  #042449;
    background-color: #042449;    
}
.btn-darkwnu:hover:not([disabled]), .btn-darkwnu:focus:not([disabled]){
    border-color: #021225;
    background-color: #021225;
}
div{
    cursor: default;
}

.wnu-tooltip  {
    position: relative;
}

.wnu-tooltip .wnu-tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
}

.wnu-tooltip .wnu-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.wnu-tooltip:hover .wnu-tooltiptext {
    visibility: visible;
    opacity: 1;
}
