<div class="bg-white rounded box-shadow mt-3 p-2">
    <div
        class="list-group list-group-flush"
        infiniteScroll
        [infiniteScrollDistance]="2"
        (scrolled)="getMoreUpdates()"
    >
        <wnu-chapter *ngFor="let chapter of chapters" 
            [chapter]="chapter"
            [novelTitle]="novels[chapter.novel].title"
            [showNovelTitle]="true"
            [chapterState]="read.chapterState(chapter)"
            (setBookmark)="read.setBookmark(chapter)"
            (removeBookmark)="read.removeBookmark(chapter)"
            (openLink)="ga.emitEvent('open link', 'Reading')"
        >
        </wnu-chapter>
    </div>
</div>