functions/node_modules
functions/lib
functions/src/keys.ts
functions/etc

feeder/node_modules
feeder/keys.js

webapp/dist
webapp/dist-server
webapp/tmp
webapp/out-tsc
webapp/node_modules
webapp/.sass-cache
webapp/connect.lock
webapp/coverage
webapp/libpeerconnection.log
webapp/typings
webapp/e2e/*.js
webapp/e2e/*.map
webapp/src/environments

npm-debug.log
testem.log

.DS_Store