functions/lib
functions/src/keys.ts
functions/etc

feeder/serviceAccount.json

webapp/dist
webapp/dist-server
webapp/tmp
webapp/out-tsc
webapp/.sass-cache
webapp/connect.lock
webapp/coverage
webapp/libpeerconnection.log
webapp/typings
webapp/e2e/*.js
webapp/e2e/*.map
webapp/src/environments

functions/wnu-shared/out

node_modules
npm-debug.log
testem.log

.DS_Store

firebase-debug.log