service cloud.firestore 
{
    match /databases/{database}/documents 
    {
        match /novels/{novel}
        {
            allow read;
            allow write: if false;
        }
        match /chapters/{chapter}
        {
            allow read;
            allow write: if request.auth.uid == "A9q1ibbF6QQXyQOsxN6CHlkPmnr1";
        } 
    }
}
