<nav class="navbar navbar-expand-md navbar-dark dark-wnubg justify-content-between">
    <a class="navbar-brand" routerLink="/">
        <img height="70" src="assets/icon-inverse.png" alt="Novels of the West">
    </a>

    <div class="navbar-nav dark-wnubg border-0 d-none d-md-flex flex-row align-items-center text-center">
        <span class="nav-link" routerLink="/latestChapters" routerLinkActive="active">Latest chapters</span>
        <span class="nav-link" routerLink="/novels" routerLinkActive="active">Novels</span>
        <span class="nav-link" routerLink="/readingLists" routerLinkActive="active">Reading lists</span>
    </div>

    <div ngbDropdown>
        <button  *ngIf="!login.isLoggedIn" class="nav-item btn btn-outline-light" (click)="loginOrRegister()">
            Login / Register
        </button>
        <button  *ngIf="login.isLoggedIn" class="nav-item btn btn-outline-light" ngbDropdownToggle>
            {{login.user.displayName}}
        </button>
        <div ngbDropdownMenu>
            <button (click)="addNovel()" class="dropdown-item">Add novel</button>
            <button (click)="logout()" class="dropdown-item">Logout</button>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand justify-content-center navbar-dark dark-wnubg d-md-none">
    <div class="navbar-nav border-0 d-flex flex-row align-items-center text-center">
        <span class="nav-link" routerLink="/latestChapters" routerLinkActive="active">Latest chapters</span>
        <span class="nav-link" routerLink="/novels" routerLinkActive="active">Novels</span>
        <span class="nav-link" routerLink="/readingLists" routerLinkActive="active">Reading lists</span>
    </div>
</nav>

<wnu-alert></wnu-alert>

<main role="main" class="container">
    <router-outlet></router-outlet>
</main>