<div class="d-flex align-items-center p-3 my-3 bg-primary rounded box-shadow">
    <img width=100 height=100 src="assets/icon-inverse.png" alt="Western Novel Updates">
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Latest updates:</h6>
    <div *ngFor="let update of updates" class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <a href="{{update.link}}">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">{{update.title}}</strong>
                    <a href="{{update.link}}">Read</a>
                </div>
            </a>    
            <span class="d-block">{{update.publicationDate | date: 'd MMM, h:mm a'}}</span>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="getMoreUpdates()">Get more updates</button>
</div>