<div class="container d-flex flex-column">
    <form>
        <fieldset>            
            <input [(ngModel)]="request.title" name="title" placeholder="Novel title" type="text" class="form-control" required autofocus>
            <input [(ngModel)]="request.author" name="author" placeholder="Author" type="text" class="form-control" required>
            <textarea [(ngModel)]="request.synopsis" name="synopsis" placeholder="Description" class="form-control" required></textarea>
            <input [(ngModel)]="request.homepage" name="hompeage" placeholder="Link to novel homepage" type="url" class="form-control" required>
            <input [(ngModel)]="request.rssFeed" name="rssFeed" placeholder="Link to chapters' rss feed" type="url" class="form-control" required>
            <select [(ngModel)]="request.hostingSite" name="site" class="form-control">
                <option [ngValue]="'RoyalRoad'">RoyalRoad</option>
                <option [ngValue]="'GravityTales'">GravityTales</option>
                <option [ngValue]="'Personal'">Personal</option>
                <option [ngValue]="'Personal-WithCategories'">Personal-WithCategories</option>
                <option [ngValue]="'SufficientVelocity'">SufficientVelocity</option>
            </select>
            <input *ngIf="request.hostingSite === 'SufficientVelocity'" [(ngModel)]="request.threadId" name="threadId" placeholder="SufficientVelocity thread Id" type="text" class="form-control" required>
            <input *ngIf="request.hostingSite === 'Personal-WithCategories'" [(ngModel)]="request.categories" name="categories" placeholder="Post categories" type="text" class="form-control" required>
        </fieldset>
    </form>
</div>