<div *ngIf="novelRequests.length <= 0" class="w-100 text-center">
    There are no novel requests pending approval.
</div>

<div *ngIf="novelRequests.length > 0" class="w-100 text-center">
    <div class="list-group">
        <button *ngFor="let request of novelRequests"
            class="list-group-item list-group-item-action light-wnutext"
            [ngClass]="{'list-group-item-info': selectedRequest == request}"
            (click)="selectRequest(request)"
        >
            <strong>{{request.title}}</strong>
        </button>
    </div>
    <hr>
    <wnu-novelrequest [request]="selectedRequest"></wnu-novelrequest>
</div>