<div class="modal-header">
    <h4 class="modal-title light-wnucolor">Novel requests</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <wnu-RequestViewer
        [novelRequests]="novelRequests"
        [(selectedRequest)]="selectedRequest"
    >
    </wnu-RequestViewer>
</div>

<div class="modal-footer justify-content-between">
    <button type="button" 
        class="btn btn-danger" 
        [disabled]="novelRequests.length <= 0"
        (click)="deleteRequest(selectedRequest)"
    >
        Delete
    </button>

    <button type="button"
        class="btn btn-lightwnu"
        [disabled]="novelRequests.length <= 0"
        (click)="approveRequest(selectedRequest)"
    >
        Approve
    </button>
</div>