<wnu-ModalHeader [title]="'Novel requests'" (close)="activeModal.dismiss('Cross click')">
</wnu-ModalHeader>

<div class="modal-body">
    <wnu-RequestViewer
        [novelRequests]="novelRequests"
        [(selectedRequest)]="selectedRequest"
    >
    </wnu-RequestViewer>
</div>

<div class="modal-footer justify-content-between">
    <button type="button" 
        class="btn btn-danger" 
        [disabled]="novelRequests.length <= 0"
        (click)="deleteRequest(selectedRequest)"
    >
        Delete
    </button>

    <button type="button"
        class="btn btn-lightwnu"
        [disabled]="novelRequests.length <= 0"
        (click)="approveRequest(selectedRequest)"
    >
        Approve
    </button>
</div>