<div class="card mb-4">
    <div class="card-header dark-wnubg text-white d-flex flex-row align-items-center"
    (click)="listCollapsed = !listCollapsed">
        <strong>{{list.listName}}</strong>
        <span *ngIf="isDefaultList" class="badge badge-pill badge-secondary ml-2">
            Default
        </span>
        <span class="ml-auto">
            <wnu-OnOffButton [isOn]="listCollapsed"
                [color]="'text-white'"
                [onIcon]="'fas fa-folder'"
                [offIcon]="'fas fa-folder-open'"
                [onTooltip]="'Expand list'"
                [offTooltip]="'Collapse list'">
            </wnu-OnOffButton>
            
            <wnu-ListMenu (click)="$event.stopPropagation()" [list]="list">
            </wnu-ListMenu>
        </span>
    </div>

    <div [ngbCollapse]="listCollapsed">
        <wnu-listnovel *ngFor="let novel of list.novels"[novel]="novel" [list]="list">
        </wnu-listnovel>
    </div>
</div>