<div class="card">
    <div class="card-header light-wnuaction-item light-wnubg d-flex flex-row align-items-center"
    (click)="novelCollapsed = !novelCollapsed">
        <wnu-OnOffButton [isOn]="novelCollapsed"
            [color]="'text-white'"
            [onIcon]="'fas fa-caret-right'"
            [offIcon]="'fas fa-caret-down'"
            [onTooltip]="'Expand novel'"
            [offTooltip]="'Collapse novel'">
        </wnu-OnOffButton>
        
        <a class="text-white" routerLink="/novels/{{novel.novelId}}" (click)="$event.stopPropagation()">
            {{novel.novelTitle}}
        </a>
        <span class="ml-2 badge badge-pill badge-info" *ngIf="noUnreadChapters() > 0">
            <span class="badge badge-pill badge-light">{{noUnreadChapters()}}</span> unread chapters
        </span>

        <span class="ml-auto">
            <wnu-OnOffButton [isOn]="areAllChaptersRead()"
                [color]="'text-white'"
                [onIcon]="'fas fa-bookmark'"
                [offIcon]="'far fa-bookmark'"
                [onTooltip]="'All chapters read'"
                [offTooltip]="'Mark all chapters read'"
                (clikedOn)="markAllChaptersUnread()"
                (clikedOff)="markAllChaptersRead()"
                (click)="$event.stopPropagation()">
            </wnu-OnOffButton>
            
            <div ngbDropdown  placement="bottom-right" class="d-inline-block"
            (click)="$event.stopPropagation()">
                <button class="text-white wnu-tooltip btn btn-link" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                    <span class="wnu-tooltiptext">Novel settings</span>
                </button>
                <div ngbDropdownMenu>
                    <div class="dropdown-item dropdown p-0" ngbDropdown placement="left-top">
                        <button class="dropdown-item" ngbDropdownToggle>
                            Move to
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class="dropdown-item" type="button" *ngFor="let list of read.lists"
                            [disabled]="this.read.novelWithList(novel.novelId).listId === list.listId"
                            (click)="moveToList(list)">
                                {{list.listName}}
                            </button>
                        </div>
                    </div>
                    <button class="dropdown-item" (click)="deleteNovel()">Delete</button>
                </div>
            </div>
        </span>
    </div>

    <div [ngbCollapse]="novelCollapsed">
        <wnu-chapter *ngFor="let chapter of chapters" 
            [chapter]="chapter"
            [novelTitle]="novel.novelTitle"
            [showNovelTitle]="true"
            [chapterRead]="read.readChapters.includes(chapter.guid)"
            (markedAsRead)="markChapterAsRead(chapter, novel.novelTitle)"
            (markedAsUnread)="markChapterAsUnread(chapter)"
            (openLink)="markChapterAsRead(chapter, novel.novelTitle)">
        </wnu-chapter>
    </div>
</div>