<div ngbDropdown  placement="bottom-right" class="d-inline-block">
    <button class="text-white wnu-tooltip btn btn-link" ngbDropdownToggle>
        <i class="fas fa-ellipsis-v"></i>
        <span class="wnu-tooltiptext">Novel settings</span>
    </button>
    <div ngbDropdownMenu>
        <div class="dropdown-item dropdown p-0" ngbDropdown placement="left-top">
            <button class="dropdown-item" ngbDropdownToggle>
                Move to
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" type="button" *ngFor="let list of lists"
                [disabled]="listWithNovel.listId === list.listId"
                (click)="moveToList(list)">
                    {{list.listName}}
                </button>
            </div>
        </div>
        <button class="dropdown-item" (click)="deleteNovel()">Delete</button>
    </div>
</div>