<div class="mt-3 p-2">
    <div *ngIf="!login.isLoggedIn" class="w-100 text-center">
        You must be logged to see and create your reading lists.
        <a href="javascript:void(0);" (click)="loginOrRegister()">Login or register</a>
        to get started.
    </div>
    
    <div *ngIf="login.isLoggedIn" class="w-100">
        <wnu-list *ngFor="let list of lists.lists" [list]="list"
            [isDefaultList]="lists.defaultList.listId === list.listId">
        </wnu-list>

        <wnu-CreateListForm (createList)="addNewList($event)"></wnu-CreateListForm>
    </div>
</div>