<div class="bg-white rounded box-shadow mt-3 p-2" style="overflow:scroll;height:80vh">
    <div class="list-group list-group-flush">
        <a *ngFor="let update of updates" href="{{update.link}}" 
            class="list-group-item list-group-item-action light-wnutext d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-between w-100">
                <strong>{{update.title}}</strong>
                <span class="d-block text-muted">{{update.publicationDate | date: 'd MMM, h:mm a'}}</span>
            </div>

            <a href="{{update.link}}" class="align-self-center fas fa-external-link-alt" placement="top" ngbTooltip="Read"></a>
        </a>
    </div>

    <button type="button" class="btn light-wnubg text-white btn-lg btn-block" (click)="getMoreUpdates()">
        Get more updates
    </button>
</div>