<div class="jumbotron my-3 p-3 p-md-5 text-white rounded light-wnubg">
    <a href="{{novel.homepage}}" class="text-white d-flex flex-row align-items-start">
        <h1 class="h1 font-italic">{{novel.title}}</h1>
        <span class="wnu-tooltip ml-2">
            <i class="fas fa-external-link-alt"></i>
            <span class="wnu-tooltiptext">Go to homepage</span>
        </span>
    </a>
    <p class="lead">by <strong>{{novel.author}}</strong></p>

    <p class="mt-5"><strong>Synopsis</strong></p>
    <div class="my-3 p-3 bg-white text-dark rounded box-shadow">
        <p class="text-justify">{{novel.synopsis}}</p>
    </div>

    <div class="mt-5 d-flex flex-row justify-content-between align-items-center ">
        <p><strong>Chapters</strong></p>
        <button [hidden]="areAllChaptersRead()" 
            class="text-white wnu-tooltip btn btn-link"
            (click)="markAllChaptersRead()">
            <i class="far fa-bookmark"></i>
            <span class="wnu-tooltiptext">Mark all chapters read</span>
        </button>
        <button [hidden]="!areAllChaptersRead()"
            class="text-white wnu-tooltip btn btn-link"
            (click)="markAllChaptersUnRead()">
                <i class="fas fa-bookmark"></i>
                <span class="wnu-tooltiptext">All chapters read</span>
        </button>
    </div>
    <div class="my-3 bg-white rounded box-shadow p-2">
        <div class="list-group list-group-flush">
            <div *ngFor="let chapter of novel.chapters" 
                class="list-group-item list-group-item-action d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-between w-100">
                    <a class="light-wnutext" href="{{chapter.link}}"><strong>{{chapter.title}}</strong></a>
                    <span class="d-block text-muted">{{chapter.publicationDate | date: 'd MMM, h:mm a'}}</span>
                </div>
                
                <button [hidden]="us.readChapters.includes(chapter.guid)" 
                    class="align-self-center light-wnutext wnu-tooltip btn btn-link"
                    (click)="markAsRead(chapter.guid)">
                    <i class="far fa-bookmark"></i>
                    <span class="wnu-tooltiptext">Mark chapter as read</span>
                </button>
                <button [hidden]="!us.readChapters.includes(chapter.guid)"
                    class="align-self-center light-wnutext wnu-tooltip btn btn-link"
                    (click)="markAsUnread(chapter.guid)">
                        <i class="fas fa-bookmark"></i>
                        <span class="wnu-tooltiptext">Chapter read</span>
                </button>

                <a href="{{chapter.link}}" class="align-self-center light-wnucolor wnu-tooltip">
                    <i class="fas fa-external-link-alt"></i>
                    <span class="wnu-tooltiptext">Read chapter</span>
                </a>
            </div>
        </div>
    </div>
</div>
