<div class="modal-body">
    <ngb-tabset [justify]="'fill'">

        <ngb-tab>
            <ng-template ngbTabTitle>
                <span class="tabTitle">Account details</span>
            </ng-template>
            <ng-template ngbTabContent>
                <wnu-userDetails></wnu-userDetails>
            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template ngbTabTitle>
                <span class="tabTitle">Delete account</span>
            </ng-template>
            
            <ng-template ngbTabContent>
                <wnu-alert #deleteAlert></wnu-alert>
                <form class="m-4">
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="ackDelete"
                            [checked]="deleteAcknowledged"
                            (change)="deleteAcknowledged = !deleteAcknowledged"
                        >
                        <label class="form-check-label" for="ackDelete">
                            I understand that this action is final and non-reversible
                        </label>
                    </div>
                    <wnu-confirmPassword
                        [disabled]="!deleteAcknowledged"
                        [buttonClass]="'btn-danger'"
                        [buttonText]="'Delete Account'"
                        (submit)="deleteAccount($event)"
                    >
                    </wnu-confirmPassword>
                </form>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">
        Close
    </button>
</div>