<div class="card">
    <div class="card-header light-wnuaction-item light-wnubg d-flex flex-row align-items-center"
    (click)="novelCollapsed = !novelCollapsed">
        <button class="text-white wnu-tooltip btn btn-link" 
        [hidden]="novelCollapsed" (click)="listCollapsed = !listCollapsed">
            <i class="fas fa-caret-down"></i>
            <span class="wnu-tooltiptext">Collapse novel</span>
        </button>
        <button class="text-white wnu-tooltip btn btn-link"
        [hidden]="!novelCollapsed" (click)="listCollapsed = !listCollapsed">
            <i class="fas fa-caret-right"></i>
            <span class="wnu-tooltiptext">Expand novel</span>
        </button>
        
        <a class="text-white" routerLink="/novels/{{novel.novelId}}" (click)="$event.stopPropagation()">
            {{novel.novelTitle}}
        </a>
        <span class="ml-2 badge badge-pill badge-info" *ngIf="noUnreadChapters() > 0">
            <span class="badge badge-pill badge-light">{{noUnreadChapters()}}</span> unread chapters
        </span>

        <span class="ml-auto">
            <button [hidden]="areAllChaptersRead()" 
            class="text-white wnu-tooltip btn btn-link"
            (click)="markAllChaptersRead();$event.stopPropagation()">
                <i class="far fa-bookmark"></i>
                <span class="wnu-tooltiptext">Mark all chapters read</span>
            </button>
            <button [hidden]="!areAllChaptersRead()"
            class="text-white wnu-tooltip btn btn-link"
            (click)="markAllChaptersUnread();$event.stopPropagation()">
                <i class="fas fa-bookmark"></i>
                <span class="wnu-tooltiptext">All chapters read</span>
            </button>
            
            <div ngbDropdown  placement="bottom-right" class="d-inline-block"
            (click)="$event.stopPropagation()">
                <button class="text-white wnu-tooltip btn btn-link" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                    <span class="wnu-tooltiptext">Novel settings</span>
                </button>
                <div ngbDropdownMenu>
                    <div class="dropdown-item dropdown p-0" ngbDropdown placement="left-top">
                        <button class="dropdown-item" ngbDropdownToggle>
                            Move to
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class="dropdown-item" type="button" *ngFor="let list of read.lists"
                            [disabled]="this.read.novelWithList(novel.novelId).listId === list.listId"
                            (click)="moveToList(list)">
                                {{list.listName}}
                            </button>
                        </div>
                    </div>
                    <button class="dropdown-item" (click)="openDialog(deleteDialog)">Delete</button>
                </div>
            </div>
        </span>
    </div>

    <div [ngbCollapse]="novelCollapsed">
        <wnu-chapter *ngFor="let chapter of chapters" [chapter]="chapter"
        [novelTitle]="novel.novelTitle" [markReadOnLink]="true">
        </wnu-chapter>
    </div>

    <ng-template #deleteDialog let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title light-wnucolor">Confirm delete</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            Are you sure you want to delete <strong>{{novel.novelTitle}}</strong>?
        </div>
        <div class="modal-footer">
            <button (click)="d('Close click')" class="btn btn-dark" type="button">No</button>
            <button (click)="deleteNovel()" class="btn btn-dark light-wnubg" type="button">Yes</button>
        </div>
    </ng-template>
</div>