<div class="d-flex flex-row justify-content-between align-items-center ">
    <p><strong>Chapters</strong></p>
    <wnu-OnOffButton [isOn]="read.chapterState(novel.chapters[0]) === 'Bookmarked'"
        [color]="'text-white'"
        [onIcon]="'fas fa-bookmark'"
        [offIcon]="'far fa-bookmark'"
        [onTooltip]="'All chapters read'"
        [offTooltip]="'Mark all chapters read'"
        (clikedOn)="read.removeBookmark(novel.chapters[0])"
        (clikedOff)="read.setBookmark(novel.chapters[0])">
    </wnu-OnOffButton>
</div>
<div class="my-3 bg-white rounded box-shadow p-2">
    <div class="list-group list-group-flush"
        infiniteScroll
        [infiniteScrollDistance]="2"
        (scrolled)="getMoreChapters()"
    >
        <wnu-chapter *ngFor="let chapter of novel.chapters" 
            [chapter]="chapter"
            [novelTitle]="novel.title"
            [showNovelTitle]="false"
            [chapterState]="read.chapterState(chapter)"
            (setBookmark)="read.setBookmark(chapter)"
            (removeBookmark)="read.removeBookmark(chapter)"
            (openLink)="linkClicked()">
        </wnu-chapter>
    </div>
</div>