<div *ngIf="lists.novelWithList(novel.id) != null" class="btn-group">
    <div class="btn-group" ngbDropdown placement="bottom-right">
        <button type="button" class="btn btn-outline-light" 
        [disabled]="lists.lists.length <= 1" ngbDropdownToggle>
            Move to
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" type="button" *ngFor="let list of lists.lists"
            [disabled]="lists.novelWithList(novel.id).listId === list.listId"
            (click)="moveToList(list)">
                {{list.listName}}
            </button>
        </div>
    </div>
    <button type="button" class="btn btn-outline-light wnu-tooltip"
    (click)="deleteFromList()">
        <i class="fas fa-trash"></i>
        <span class="wnu-tooltiptext">Delete novel from list</span>
    </button>
</div>
<div *ngIf="lists.novelWithList(novel.id) == null" class="btn-group" ngbDropdown placement="bottom-right">
    <button type="button" class="btn btn-outline-light"
    (click)="saveToList(lists.getDefaultList())">
        Add to default list
    </button>
    <button *ngIf="login.isLoggedIn" type="button" ngbDropdownToggle
    class="btn btn-outline-light dropdown-toggle dropdown-toggle-split">
    </button>
    <div *ngIf="login.isLoggedIn" class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" type="button" *ngFor="let list of lists.lists"
        (click)="saveToList(list)">
            Add to "{{list.listName}}" list
        </button>
    </div>
</div>