<div class="jumbotron my-3 p-3 p-md-5 text-white rounded light-wnubg">
    <a href="{{novel.homepage}}" class="text-white d-flex flex-row align-items-start">
        <h1 class="h1 font-italic">{{novel.title}}</h1>
        <span class="wnu-tooltip ml-2">
            <i class="fas fa-external-link-alt"></i>
            <span class="wnu-tooltiptext">Go to homepage</span>
        </span>
    </a>
    <p class="lead">by <strong>{{novel.author}}</strong></p>

    <div class="mt-5 d-flex flex-row justify-content-between align-items-center ">
        <strong>Synopsis</strong>
        <div *ngIf="savedInList()" class="btn-group">
            <div class="btn-group" ngbDropdown placement="bottom-right">
                <button type="button" class="btn btn-outline-light" 
                [disabled]="read.lists.length <= 1" ngbDropdownToggle>
                    Move to
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" type="button" *ngFor="let list of read.lists"
                    [disabled]="this.read.novelWithList(novel.id).listId === list.listId"
                    (click)="moveToList(list)">
                        {{list.listName}}
                    </button>
                </div>
            </div>
            <button type="button" class="btn btn-outline-light wnu-tooltip"
            (click)="deleteFromList()">
                <i class="fas fa-trash"></i>
                <span class="wnu-tooltiptext">Delete novel from list</span>
            </button>
        </div>
        <div *ngIf="!savedInList()" class="btn-group" ngbDropdown placement="bottom-right">
            <button type="button" class="btn btn-outline-light"
            (click)="saveToList(read.getDefaultList())">
                Add to default list
            </button>
            <button *ngIf="login.isLoggedIn" type="button" ngbDropdownToggle
            class="btn btn-outline-light dropdown-toggle dropdown-toggle-split">
            </button>
            <div *ngIf="login.isLoggedIn" class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" type="button" *ngFor="let list of read.lists"
                (click)="saveToList(list)">
                    Add to "{{list.listName}}" list
                </button>
            </div>
        </div>
    </div>
    <div class="my-3 p-3 bg-white text-dark rounded box-shadow">
        <p class="text-justify">{{novel.synopsis}}</p>
    </div>

    <div class="mt-5 d-flex flex-row justify-content-between align-items-center ">
        <p><strong>Chapters</strong></p>

        <button [hidden]="areAllChaptersRead()" 
            class="text-white wnu-tooltip btn btn-link"
            (click)="markAllChaptersRead()">
            <i class="far fa-bookmark"></i>
            <span class="wnu-tooltiptext">Mark all chapters read</span>
        </button>
        <button [hidden]="!areAllChaptersRead()"
            class="text-white wnu-tooltip btn btn-link"
            (click)="markAllChaptersUnRead()">
                <i class="fas fa-bookmark"></i>
                <span class="wnu-tooltiptext">All chapters read</span>
        </button>
    </div>
    <div class="my-3 bg-white rounded box-shadow p-2">
        <div class="list-group list-group-flush">
            <wnu-chapter *ngFor="let chapter of novel.chapters" 
                [chapter]="chapter"
                [novelTitle]="novel.title"
                [showNovelTitle]="false"
                [chapterRead]="read.readChapters.includes(chapter.guid)"
                (markedAsRead)="markAsRead(chapter, novel.title)"
                (markedAsUnread)="markAsUnread(chapter)">
            </wnu-chapter>
        </div>
    </div>
</div>
