<div *ngIf="!login.isLoggedIn"> 
    <button type="button"
        class="btn btn-outline-light"
        (click)="saveToList(lists.getDefaultList())"
    >
        Add to default list
    </button>
</div>

<div *ngIf="login.isLoggedIn && lists.novelWithList(novel.id) == null"
    class="btn-group"
    placement="bottom-right"
    ngbDropdown
>
    <button type="button"
        class="btn btn-outline-light"
        (click)="saveToList(lists.getDefaultList())"
    >
        Add to default list
    </button>

    <button type="button"
        class="btn btn-outline-light dropdown-toggle dropdown-toggle-split"
        ngbDropdownToggle
    ></button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <button *ngFor="let list of lists.lists"
            class="dropdown-item"
            type="button"
            (click)="saveToList(list)"
        >
            Add to "{{list.listName}}" list
        </button>
    </div>
</div>

<div *ngIf="login.isLoggedIn && lists.novelWithList(novel.id) != null" class="btn-group">
    <div class="btn-group" ngbDropdown placement="bottom-right">
        <button type="button"
            class="btn btn-outline-light" 
            [disabled]="lists.lists.length <= 1"
            ngbDropdownToggle
        >
            Move to
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button *ngFor="let list of lists.lists"
                class="dropdown-item"
                type="button"
                [disabled]="lists.novelWithList(novel.id).listId === list.listId"
                (click)="moveToList(list)"
            >
                {{list.listName}}
            </button>
        </div>
    </div>
    <button type="button"
        class="btn btn-outline-light wnu-tooltip"
        (click)="deleteFromList()"
    >
        <i class="fas fa-trash"></i>
        <span class="wnu-tooltiptext">Delete novel from list</span>
    </button>
</div>